<!--<div class="row card-deck" style="justify-content: space-evenly">-->
<!--  <div class="col-lg-5 col-md-6"  *ngFor="let order of productOrders| filter: filter">-->
<!--    <div class="card mb-3" style="max-width: 800px;">-->
<!--      <div class="row no-gutters">-->
<!--        <div class="col-md-4">-->
<!--          <img class="card-img-top" src={{order.product.pictureUrl}} alt="">-->
<!--        </div>-->
<!--        <div class="col-md-8">-->
<!--          <div class="card-body">-->
<!--            <div class="card-title">-->
<!--              <h4>{{order.product.name}}</h4>-->
<!--              <div class="in_cart" *ngIf="isInCart(order)">-->
<!--                <mat-icon style="color:green">shopping_cart</mat-icon>-->
<!--                <p>Déja dans le panier</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <h5 class="card-text"><small class="text-muted">{{order.product.category.toLowerCase()}}</small></h5>-->
<!--            <h5 class="card-text">€{{order.product.price}}</h5>-->

<!--            <div class="row">-->
<!--&lt;!&ndash;              <div class="col-4 padding-0">&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="number" min="0" class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;                       [(ngModel)]=order.quantity>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--              <div class="col-4 padding-0">-->
<!--                <button class="btn btn-primary"-->
<!--                        (click)="addToCart(order)"-->
<!--                        >-->
<!--                  <mat-icon>add_shopping_cart</mat-icon>-->
<!--                  Ajouter au panier-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash;    <div class="card text-center">&ndash;&gt;-->
<!--    &lt;!&ndash;      <div class="card-header">&ndash;&gt;-->
<!--    &lt;!&ndash;        <h4>{{order.product.name}}</h4>&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="in_cart" *ngIf="order.in_cart">&ndash;&gt;-->
<!--    &lt;!&ndash;          <mat-icon style="color:green" >shopping_cart</mat-icon>&ndash;&gt;-->
<!--    &lt;!&ndash;          <p>Déja dans le panier</p>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->

<!--    &lt;!&ndash;      </div>&ndash;&gt;-->
<!--    &lt;!&ndash;      <div class="card-body">&ndash;&gt;-->
<!--    &lt;!&ndash;          <img class="card-img-top" style="height: 100px; width: auto" src={{order.product.pictureUrl}} alt="">&ndash;&gt;-->
<!--    &lt;!&ndash;        <h5 class="card-title">${{order.product.price}}</h5>&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="row">&ndash;&gt;-->
<!--    &lt;!&ndash;          <div class="col-4 padding-0">&ndash;&gt;-->
<!--    &lt;!&ndash;            <input type="number" min="0" class="form-control"&ndash;&gt;-->
<!--    &lt;!&ndash;                   [(ngModel)]=order.quantity>&ndash;&gt;-->
<!--    &lt;!&ndash;          </div>&ndash;&gt;-->
<!--    &lt;!&ndash;          <div class="col-4 padding-0">&ndash;&gt;-->
<!--    &lt;!&ndash;            <button class="btn btn-primary"&ndash;&gt;-->
<!--    &lt;!&ndash;                    (click)="addToCart(order)"&ndash;&gt;-->
<!--    &lt;!&ndash;                    [disabled]="order.quantity <= 0">&ndash;&gt;-->
<!--    &lt;!&ndash;              <mat-icon>add_shopping_cart</mat-icon>&ndash;&gt;-->
<!--    &lt;!&ndash;              Add To Cart&ndash;&gt;-->
<!--    &lt;!&ndash;            </button>&ndash;&gt;-->
<!--    &lt;!&ndash;          </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    &lt;!&ndash;      </div>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--    &lt;!&ndash;  </div>&ndash;&gt;-->

<!--  </div>-->
