:host{
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.component{
  padding-top: 75px;
  width: auto;
  min-height: calc(100vh - 175px);
}




