<div class="eshop-container">
  <nav class="navbar">
    <img class="logo" src="assets/eshop_logo.png">
    <div class="item search right" tabindex="0">
      <div class="search-group">
        <input type="text" [(ngModel)]="filter">
        <mat-icon *ngIf="filter" (click)="removeFilter()" class="search-icon">close</mat-icon>
        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </div>

    <a [routerLink]="['login']" class=" item">

      <div class="group"   >
        <mat-icon>account_circle</mat-icon>
        <div class="detail">
          <b>Compte</b>
          <div class="sub">Se connecter</div>
        </div>
      </div>
    </a>

    <a class="item">
      <div class="group">
        <mat-icon>shopping_cart</mat-icon>
        <div class="detail">
          <b>Panier</b>
          <div class="sub">{{shoppingCart.length}}</div>
        </div>
      </div>
    </a>
  </nav>

  <app-products [filter]="filter" (productOrder)="addOrder($event)" ></app-products>
</div>
