
.eshop-container {
  display: flex;
  flex-direction: column;
  background-image: url('/assets/background.jpg');
  background-position: center;
  background-attachment: fixed;
  height: 100vh;

  .navbar {
    display: flex;
    box-shadow: 0 0 5px 0 black;
    align-items: center;
    font-size: 1em;
    background-color: white;
    color: black;

    .logo {
      width: 200px;
      margin-left: 10px;
    }

    .item {
      padding: 10px;
      text-decoration: none;
      color: black;
    }

    .item.search {
      transition: 0.2s linear;
      display: flex;
      justify-content: center;
      flex-grow: 1;
      margin: 0 0 0 auto;
      height: 50px;

      .search-group {
        display: flex;
        width: 100%;
        max-width: 700px;
        height: 32px;
        border-radius: 20px;
        border: 1px solid #fc9403;
        overflow: hidden;
        background: white;

        input {
          margin-left: 15px;
          width: 100%;
          outline: none;
          max-width: 100%;
          border: 0;
          border-right: 1px solid grey;

        }

        .search-icon {
          margin-left: 10px;
          margin-right: 20px;
          margin-top: 3px;
          cursor: pointer;
          color: grey;
        }

        .search-icon:hover {
          color: black;
        }
      }

    }

    .group {
      display: flex;
      align-items: center;
      font-size: 0.9em;
      margin-right: 10px;
      .detail{
        margin: 5px
      }
    }

    @media (max-width: 700px) {
      .item.search {
        display: none;
      }

      .detail, .logo .text {
        display: none;
      }
    }
  }
  app-products {
    margin: 0 100px;
  }

}



