<div class="eshop-container">
  <nav class="navbar">
    <img class="logo" src="assets/eshop_logo.png">
    <div class="item search right" tabindex="0">
      <div class="search-group">
        <input type="text" [(ngModel)]="filter">
        <mat-icon *ngIf="filter" (click)="removeFilter()" class="search-icon">close</mat-icon>
        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </div>

    <a  *ngIf="!username;else default" [routerLink]="['login']" class=" item">
      <div class="group" >
        <mat-icon>account_circle</mat-icon>
        <div class="detail" >
          <b>Compte</b>
          <div class="sub">Se connecter</div>
        </div>
      </div>
    </a>
    <ng-template #default class=" item">
      <div class="group" >
        <mat-icon>account_circle</mat-icon>
        <div class="detail" >
          <b>Votre compte</b>
          <div class="sub">{{username}}</div>
        </div>
      </div>
    </ng-template>

    <a class="item" (click)="showCart()">
      <div class="group">
        <mat-icon>shopping_cart</mat-icon>
        <div class="detail">
          <b>Panier</b>
<!--          <div class="sub">{{shoppingCart.length}}</div>-->
        </div>
      </div>
    </a>
  </nav>

  <app-products [filter]="filter" [hidden]="withCart" (productOrder)="addOrder($event)" ></app-products>
  <app-shopping-cart [userId]="userId" [shoppingCart]="shoppingCart" [hidden]="!withCart"></app-shopping-cart>

</div>
