<div class="row card-deck">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let order of productOrders| filter: filter">
    <div class="card text-center">
      <div class="card-header">
        <h4>{{order.product.name}}</h4>
      </div>
      <div class="card-body">
        <a href="#"><img class="card-img-top" src={{order.product.pictureUrl}}
                         alt=""></a>
        <h5 class="card-title">${{order.product.price}}</h5>
        <div class="row">
          <div class="col-4 padding-0">
            <input type="number" min="0" class="form-control"
                   [(ngModel)]=order.quantity>
          </div>
          <div class="col-4 padding-0">
            <button class="btn btn-primary"
                    (click)="addToCart(order)"
                    [disabled]="order.quantity <= 0">
              <mat-icon>add_shopping_cart</mat-icon>
              Add To Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
