.card-deck{
  margin-top: 10px;

}

.card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.in_cart{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
