<div class="background-login">
  <div *ngFor="let number of [0, 1, 2, 3]" [ngClass]="'offset-' + number">
    <div
      *ngFor="let number2 of [1, 2, 3, 4, 5, 6]"
      [ngClass]="'item item-' + number2">
      <img *ngIf="number2 === 1" src="assets/mario-icons-login/mushroom2.svg" />
      <img *ngIf="number2 === 2" src="assets/mario-icons-login/mushroom.svg" />
      <img *ngIf="number2 === 3" src="assets/mario-icons-login/mushroom2.svg" />
      <img *ngIf="number2 === 4" src="assets/mario-icons-login/mushroom.svg" />
      <img *ngIf="number2 === 5" src="assets/mario-icons-login/mushroom2.svg" />
      <img *ngIf="number2 === 6" src="assets/mario-icons-login/mushroom.svg" />
    </div>
  </div>
</div>
