<div class="top-infos">
  <div class="image-slider">
    <img />
  </div>
  <div class="product-infos"></div>
</div>
<div class="description">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
  eleifend, purus nec lobortis fringilla, nulla magna efficitur felis, in
  commodo nunc leo ac enim. Quisque eu elit gravida, auctor purus non, pharetra
  quam. Nam congue tellus ut diam egestas, in bibendum sapien lobortis. In hac
  habitasse platea dictumst. Donec a cursus ligula. Orci varius natoque
  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam vel
  viverra lorem. Donec at mauris fringilla, aliquam lectus sit amet, pretium
  arcu. Praesent ac purus pharetra, tristique justo nec, feugiat enim. Nullam
  placerat purus ut felis tristique, non tempor elit euismod. Morbi sit amet
  justo vitae sapien pellentesque dapibus nec in magna. Etiam volutpat fermentum
  nulla in ullamcorper. Integer mi ante, viverra id imperdiet ac, aliquam
  tincidunt quam. Aenean porta, tellus id eleifend ultrices, purus tortor
  pharetra neque, eget viverra nulla est et mi. Nam id risus ipsum. Morbi sed
  urna id mi maximus viverra. Suspendisse finibus finibus justo, mollis pharetra
  augue cursus vitae. Curabitur vitae nisl nisi. Donec tempor felis quis est
  ornare suscipit. Suspendisse in nulla euismod, condimentum libero vitae,
  finibus dolor. Duis ultrices quam eget augue placerat, laoreet pellentesque
  libero dignissim. Nullam euismod sagittis lectus, id dignissim orci commodo
  vel. Nam et urna id nulla elementum hendrerit. Ut vehicula mi metus, in
  faucibus ante pellentesque nec.
</div>
