<div class="top-infos">
  <div class="image-slider">
    <img />
  </div>
  <div class="product-infos">
    <div class="infos-text">
      <div class="product-name"></div>
      <div class="product-price"></div>
    </div>

    <div class="product-buttons">
      <div class="flex items-center space-x-3 ml-20">
        <button
          class="inline-flex items-center p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200"
          type="button">
          <span class="sr-only">Quantity button</span>
          <svg
            class="w-4 h-4"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <div>
          <input
            type="number"
            id="first_product"
            class="bg-gray-50 w-14 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="1"
            required />
        </div>
        <button
          class="inline-flex items-center p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
          type="button">
          <span class="sr-only">Quantity button</span>
          <svg
            class="w-4 h-4"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
              clip-rule="evenodd"></path>
          </svg>
        </button>

        <button
          class="bg-blue-500 disabled:bg-blue-200 enabled:hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
          Acheter
        </button>
      </div>
    </div>
  </div>
</div>
<div class="description">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
  eleifend, purus nec lobortis fringilla, nulla magna efficitur felis, in
  commodo nunc leo ac enim. Quisque eu elit gravida, auctor purus non, pharetra
  quam. Nam congue tellus ut diam egestas, in bibendum sapien lobortis. In hac
  habitasse platea dictumst. Donec a cursus ligula. Orci varius natoque
  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam vel
  viverra lorem. Donec at mauris fringilla, aliquam lectus sit amet, pretium
  arcu. Praesent ac purus pharetra, tristique justo nec, feugiat enim. Nullam
  placerat purus ut felis tristique, non tempor elit euismod. Morbi sit amet
  justo vitae sapien pellentesque dapibus nec in magna. Etiam volutpat fermentum
  nulla in ullamcorper. Integer mi ante, viverra id imperdiet ac, aliquam
  tincidunt quam. Aenean porta, tellus id eleifend ultrices, purus tortor
  pharetra neque, eget viverra nulla est et mi. Nam id risus ipsum. Morbi sed
  urna id mi maximus viverra. Suspendisse finibus finibus justo, mollis pharetra
  augue cursus vitae. Curabitur vitae nisl nisi. Donec tempor felis quis est
  ornare suscipit. Suspendisse in nulla euismod, condimentum libero vitae,
  finibus dolor. Duis ultrices quam eget augue placerat, laoreet pellentesque
  libero dignissim. Nullam euismod sagittis lectus, id dignissim orci commodo
  vel. Nam et urna id nulla elementum hendrerit. Ut vehicula mi metus, in
  faucibus ante pellentesque nec.
</div>
