:host{
  display: flex;
  flex-direction: column;
  background-image: url('/assets/background.jpg');
  background-position: center;
  background-attachment: fixed;
  height: 100vh;


  app-products {
    margin: 0 100px;
  }

}



