:host {
  display: flex;
  flex-direction: column;
  //background-image: url("/assets/background.jpg");
  //background-position: center;
  //background-attachment: fixed;
  //min-height: 100vh;

  app-products-carousel{
    height: 400px;
    margin:10px;
  }

}
