<nav>
  <img
    [routerLink]="['']"
    class="nav-item logo hover:cursor-pointer"
    src="/assets/eshop_logo.png"
    alt="Nintendo Eshop" />

  <div class="nav-item">
    <a
      *ngIf="user$ | async as user; else noUser"
      [routerLink]="['/user']"
      class="item">
      <div class="group">
        <mat-icon>account_circle</mat-icon>
        <div class="detail">
          <h1>Votre compte</h1>
          <div class="sub">{{ user.email }}</div>
        </div>
      </div>
    </a>
    <ng-template #noUser>
      <a class="item" [routerLink]="['/login']">
        <div class="group">
          <mat-icon>account_circle</mat-icon>
          <div class="detail">
            <b>Se connecter</b>
          </div>
        </div>
      </a>
    </ng-template>

    <a class="item" [routerLink]="['/cart']">
      <div class="group">
        <mat-icon>shopping_cart</mat-icon>
        <div class="detail">
          <h1>Panier</h1>
          <div class="sub">{{ cartService.products.length }}</div>
        </div>
      </div>
    </a>
  </div>
</nav>
